In [57]:
from sklearn import tree
import pandas as pd
import os

In [58]:
df = pd.read_csv(os.path.join("FIFA_18.csv"), encoding='latin-1')
df.head()

,No,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110.5M,$565,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77M,$405,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118.5M,$290,...,81,94,27,24,33,9,9,15,15,11
3,3,193080,De Gea,27,Spain,91,93,Manchester United,72M,$260,...,40,68,15,21,13,90,85,87,88,94
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102M,$355,...,79,88,68,58,51,15,13,5,10,13

In [59]:
df['Value']=df['Value'].str.extract('(\d*\.\d+|\d+)', expand=False).astype(float)
df['Height']=df['Height'].replace("'",".", regex=True).astype(float)
df['Weight'] = pd.to_numeric(df['Weight'].astype(str).str[:-3], errors='coerce')

df.head()

,No,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110.5,$565,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77.0,$405,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118.5,$290,...,81,94,27,24,33,9,9,15,15,11
3,3,193080,De Gea,27,Spain,91,93,Manchester United,72.0,$260,...,40,68,15,21,13,90,85,87,88,94
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102.0,$355,...,79,88,68,58,51,15,13,5,10,13

In [60]:
target = df["Value"]
#target_names = ["negative", "positive"]

In [66]:
data = df.drop(["Value","Name","Nationality","Club","Wage","Preferred Foot","Work Rate","Position","Jersey Number","Joined","Contract Valid Until"], axis=1)
feature_names = data.columns
data.head()

#data.to_csv('FIFA_ML_data.csv', index = False)

,No,ID,Age,Overall,Potential,International Reputation,Weak Foot,Skill Moves,Height,Weight,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,31,94,94,5,4,4,5.70,159,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,33,94,94,5,4,5,6.20,183,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,26,92,93,5,5,5,5.90,150,...,81,94,27,24,33,9,9,15,15,11
3,3,193080,27,91,93,4,3,1,6.40,168,...,40,68,15,21,13,90,85,87,88,94
4,4,192985,27,91,92,4,5,4,5.11,154,...,79,88,68,58,51,15,13,5,10,13

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=48)

In [63]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: Unknown label type: 'continuous'

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.72916666666666663

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.2604038892633122, 'Glucose'),
 (0.16240738779159666, 'BMI'),
 (0.1437077712983523, 'Age'),
 (0.12126276641273467, 'DiabetesPedigreeFunction'),
 (0.088871399128041817, 'BloodPressure'),
 (0.079222898914976206, 'Pregnancies'),
 (0.07440650942444979, 'Insulin'),
 (0.069717377766536262, 'SkinThickness')]