In [95]:
from sklearn.ensemble import RandomForestRegressor
import pandas as pd
import os

In [96]:
df = pd.read_csv(os.path.join("FIFA_18.csv"), encoding='latin-1')
df.head()

,No,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110.5M,$565,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77M,$405,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118.5M,$290,...,81,94,27,24,33,9,9,15,15,11
3,3,193080,De Gea,27,Spain,91,93,Manchester United,72M,$260,...,40,68,15,21,13,90,85,87,88,94
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102M,$355,...,79,88,68,58,51,15,13,5,10,13

In [97]:
df['Value']=df['Value'].str.extract('(\d*\.\d+|\d+)', expand=False).astype(float)
df['Height']=df['Height'].replace("'",".", regex=True).astype(float)
df['Weight'] = pd.to_numeric(df['Weight'].astype(str).str[:-3], errors='coerce')

df.head()

,No,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110.5,$565,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77.0,$405,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118.5,$290,...,81,94,27,24,33,9,9,15,15,11
3,3,193080,De Gea,27,Spain,91,93,Manchester United,72.0,$260,...,40,68,15,21,13,90,85,87,88,94
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102.0,$355,...,79,88,68,58,51,15,13,5,10,13

In [98]:
target = df["Value"]
#print (target)

In [99]:
data = df.drop(["Value","Name","Nationality","Club","Wage","Preferred Foot","Work Rate","Position","Jersey Number","Joined","Contract Valid Until"], axis=1)
feature_names = data.columns
data.head()

#data.to_csv('FIFA_ML_data.csv', index = False)

,No,ID,Age,Overall,Potential,International Reputation,Weak Foot,Skill Moves,Height,Weight,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,158023,31,94,94,5,4,4,5.70,159,...,75,96,33,28,26,6,11,15,14,8
1,1,20801,33,94,94,5,4,5,6.20,183,...,85,95,28,31,23,7,11,15,14,11
2,2,190871,26,92,93,5,5,5,5.90,150,...,81,94,27,24,33,9,9,15,15,11
3,3,193080,27,91,93,4,3,1,6.40,168,...,40,68,15,21,13,90,85,87,88,94
4,4,192985,27,91,92,4,5,4,5.11,154,...,79,88,68,58,51,15,13,5,10,13

In [100]:
rf = RandomForestRegressor(n_estimators=500)
rf = rf.fit(data, target)
rf.score(data, target)

0.9907125174614946

In [101]:
importances = rf.feature_importances_
importances

array([7.50831571e-01, 1.22663096e-02, 6.08083640e-02, 1.81137803e-03,
       4.84981842e-02, 3.91525082e-04, 5.94061156e-04, 7.56853271e-04,
       9.23224257e-04, 2.10709361e-03, 1.13016965e-03, 1.41889906e-02,
       1.02659015e-03, 1.20781580e-03, 5.64450010e-03, 1.25416188e-02,
       2.18216380e-03, 3.32540774e-03, 9.12967809e-04, 8.34354719e-03,
       2.30935120e-03, 1.32439174e-03, 2.92056462e-03, 1.46012827e-02,
       2.39838047e-03, 2.19039767e-03, 1.55017007e-03, 1.99658229e-03,
       1.70629214e-03, 1.00604631e-02, 1.30309702e-03, 1.42871475e-03,
       4.68431718e-03, 5.86459341e-03, 4.07628175e-03, 1.83857941e-03,
       1.40244538e-03, 1.53912698e-03, 1.62525669e-03, 8.65716832e-04,
       1.05520545e-03, 1.96976655e-03, 1.02488157e-03, 7.71805111e-04])

In [102]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.7508315711874358, 'No'),
 (0.06080836397624618, 'Age'),
 (0.04849818420325282, 'Potential'),
 (0.014601282657701067, 'Reactions'),
 (0.014188990555256631, 'Finishing'),
 (0.012541618771187363, 'Dribbling'),
 (0.012266309649078449, 'ID'),
 (0.01006046307909244, 'LongShots'),
 (0.008343547190991858, 'BallControl'),
 (0.005864593406613231, 'Vision'),
 (0.005644500100164678, 'Volleys'),
 (0.004684317183299229, 'Positioning'),
 (0.004076281748712716, 'Penalties'),
 (0.003325407735824271, 'FKAccuracy'),
 (0.0029205646172890216, 'Agility'),
 (0.002398380468519027, 'Balance'),
 (0.0023093512030032994, 'Acceleration'),
 (0.002190397665441664, 'ShotPower'),
 (0.002182163802183308, 'Curve'),
 (0.002107093613031661, 'Weight'),
 (0.00199658229182894, 'Stamina'),
 (0.0019697665492969447, 'GKKicking'),
 (0.0018385794097136427, 'Composure'),
 (0.0018113780337248688, 'Overall'),
 (0.0017062921402490384, 'Strength'),
 (0.0016252566936773719, 'SlidingTackle'),
 (0.0015501700670854423, 'Jumping'),
 (0.0015391269821069186, 'StandingTackle'),
 (0.0014287147468140843, 'Interceptions'),
 (0.0014024453839768878, 'Marking'),
 (0.0013243917381632313, 'SprintSpeed'),
 (0.001303097021354906, 'Aggression'),
 (0.0012078157979225062, 'ShortPassing'),
 (0.0011301696518387144, 'Crossing'),
 (0.0010552054490295857, 'GKHandling'),
 (0.0010265901455767121, 'HeadingAccuracy'),
 (0.0010248815655717685, 'GKPositioning'),
 (0.0009232242569511555, 'Height'),
 (0.0009129678086653205, 'LongPassing'),
 (0.0008657168324009479, 'GKDiving'),
 (0.000771805111406011, 'GKReflexes'),
 (0.0007568532707976366, 'Skill Moves'),
 (0.0005940611558291173, 'Weak Foot'),
 (0.00039152508169355854, 'International Reputation')]